{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 pt-sans" style="text-align: center">
            {% if product.image %}
            <img class="thumbnail" style="width: 160px" src="{{ product.image.url }}">
            {% else %}
            <img class="thumbnail" style="width: 160px" src="">
            {% endif %}
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a href="" class="btn btn-outline-success">View</a>
                <h4 style="display: inline-block;float: right"><strong>${{ product.price|floatformat:2 }}</strong></h4>
                <!-- The template field floatformat:2 helps to specify ecimal places require for our prices to avoid a messy code-->
            </div>

        </div>
        {% endfor %}
    </div>

{% endblock content %}